header{
    height: 8vh;
    width: 100vw;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 2rem;
}

header > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

header > ul > li > a {
    color: bisque;
}

a:hover{
    color: firebrick;
    font-size: 1.5rem;
    font-weight: 700;

} 

.active {
    color: firebrick;
  }