.App {
  min-height: 100vh;
  width: 100%;
  background-image: url("https://res.cloudinary.com/dlvbfzkt9/image/upload/v1676486916/Kdramas/3968079_kpkt7x.jpg");
  background-size: cover;
  color: bisque;
}
